:root {
  --baseColor: #FFFBFA;
  --mainTextColor: #000000;
  --primaryColor: #49C6E5;
  --primaryTextColor: #202A25;
  --secondaryColor: #006D77;
  --secondaryTextColor: #FFFBFA;
  --highlightColor: #00BD9D;
}

.wrapper {
  text-align: center;
}

.header {
  background-color: var(--baseColor);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--mainTextColor);
}

.row {
  display: flex;
  flex-direction: row;
  color: var(--primaryTextColor);
}

.longCell,
.shortCell,
.midCell,
.buttonHiddenCell,
.accentLongCell,
.accentShortCell,
.accentMidCell {
  margin: 1px;
  padding: 4px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
}

.longCell,
.shortCell,
.midCell {
  background-color: var(--primaryColor);
}

.accentLongCell,
.accentShortCell,
.accentMidCell {
  background-color: var(--secondaryColor);
}

.longCell,
.accentLongCell {
  width: 16vw;
}

.shortCell,
.accentShortCell {
  width: 8vw;
}

.midCell,
.accentMidCell,
.buttonHiddenCell {
  width: 12vw;
}

.button {
  background-color: var(--highlightColor) !important;
  color: var(--mainTextColor) !important;
}